<div style="padding: 0.5rem;">
    <%= form_tag('/vulnerabilities', method: :get) do %>
        <%= text_field_tag(:query) %>
        <%= submit_tag "Пошук"%>
    <% end %>
</div>

<table style="border-collapse: collapse; padding: 0.5rem; width:100%">
    <tr>
        <th style="border: 1px solid #999;padding: 0.5rem;text-align: left; width:25%"> Актив </th>
        <th style="border: 1px solid #999;padding: 0.5rem;text-align: left; width:25%"> Загроза </th>
        <th style="border: 1px solid #999;padding: 0.5rem;text-align: left; width:25%"> Джерело </th>
        <th style="border: 1px solid #999;padding: 0.5rem;text-align: left; width:25%"> Механізм реалізації </th>
    </tr>
    <% @threats.each do |threat| %>
        <tr>
            <td style="border: 1px solid #999;padding: 0.5rem;text-align: left; width:25%"> <%= threat.item.name %> </td>
            <td style="border: 1px solid #999;padding: 0.5rem;text-align: left; width:25%"> <%= threat.who %> </td>
            <td style="border: 1px solid #999;padding: 0.5rem;text-align: left; width:25%"> <%= threat.source.name %> </td>
            <td style="border: 1px solid #999;padding: 0.5rem;text-align: left; width:25%"> <%= threat.action %> </td>
        </tr>
    <% end %>
</table>