<div class="form-group" style="padding: 20px 20px 0px 20px">
    <%= form_tag('/vulnerabilities', method: :get, class:"form-inline") do %>
        <%= text_field_tag(:query, nil, class: "form-control", style: "margin-right:20px") %>
        <%= submit_tag "Пошук", class: "btn btn-primary" %>
    <% end %>
</div>

<table class="table table-hover">
    <tr>
        <th> Актив </th>
        <th> Загроза </th>
        <th> Джерело </th>
        <th> Механізм реалізації </th>
        <th> Варіант усунення уразливості </th>
    </tr>
    <% @threats.each do |threat| %>
        <tr>
            <td> <%= threat.item.name %> </td>
            <td> <%= threat.who %> </td>
            <td> <%= threat.source.name %> </td>
            <td> <%= threat.action %> </td>
            <td> <%= threat.solving %> </td>
        </tr>
    <% end %>
</table>